.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .header { grid-area: 1 / 1 / 2 / 4; 
        background-color: #085820;
        width: 1920px;
        height: 89px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .titre {
        color: #4b5943;
        text-align: center;
        font-family: "WendyOne-Regular", sans-serif;
        font-size: 128px;
        font-weight: 400;
        position: absolute;
        left: 322px;
        top: 27px;
        width: 1278px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav1 { grid-area: 2 / 1 / 3 / 2; 
        background: #b7ce66;
        width: 640px;
        height: 237px;
        position: absolute;
        left: 0px;
        top: 156px;
    }
    .dc {
        width: 237px;
        height: 206px;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        top: 50%;
     }
    
    
    .nav2 { grid-area: 2 / 2 / 3 / 3; 
        background: #b7ce66;
        width: 640px;
        height: 237px;
        position: absolute;
        left: 640px;
        top: 156px;
    }
    .web-removebg-preview0 {
        width: 318px;
        height: 206px;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        top: 50%;
    }
    
    .nav3 { grid-area: 2 / 3 / 3 / 4; 
        background: #b7ce66;
        width: 640px;
        height: 237px;
        position: absolute;
        left: 1280px;
        top: 156px;
    }
    .cloud {
        width: 330px;
        height: 206px;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        top: 50%;
    }
    
    .main1 { grid-area: 3 / 1 / 4 / 2;
        background: #c8d6a2;
        border-style: solid;
        border-color: #085820;
        border-width: 1px;
        width: 652px;
        height: 598px;
        position: absolute;
        left: 0px;
        top: 393px;
    }
    .ampoule-1 {
        width: 110px;
        height: 110px;
        position: absolute;
        left: 12px;
        top: 19px;
        object-fit: cover;
        aspect-ratio: 1;
      }
      .co-2-1 {
        width: 110px;
        height: 93px;
        position: absolute;
        left: 33px;
        top: 188px;
        object-fit: cover;
        aspect-ratio: 110/93;
      }
      .Txt1_main1 {
        color: #000000;
        text-align: left;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 32px;
        font-weight: 400;
        position: absolute;
        left: 160px;
        top: 34px;
        width: 464px;
        height: 111px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .Txt2_main1 {
        color: #000000;
        text-align: left;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 32px;
        font-weight: 400;
        position: absolute;
        left: 160px;
        top: 174px;
        width: 441px;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .reduire-1 {
        width: 178px;
        height: 168px;
        position: absolute;
        left: 228px;
        top: 386px;
        object-fit: cover;
        aspect-ratio: 178/168;
      }
      .T1M1 {
        color: #000000;
        text-align: center;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 19px;
        top: 341px;
        width: 194px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .T2M1 {
        color: #000000;
        text-align: center;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 421px;
        top: 346px;
        width: 194px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .T3M1 {
        color: #000000;
        text-align: center;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 24px;
        top: 495px;
        width: 194px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .T4M1 {
        color: #000000;
        text-align: center;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 422px;
        top: 495px;
        width: 194px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
    
    .main2 { grid-area: 3 / 2 / 4 / 3;
        background: #c8d6a2;
        border-style: solid;
        border-color: #085820;
        border-width: 1px;
        width: 640px;
        height: 598px;
        position: absolute;
        left: 652px;
        top: 393px;
    }
    .ampoule-2 {
        width: 110px;
        height: 110px;
        position: absolute;
        left: 16px;
        top: 19px;
        object-fit: cover;
        aspect-ratio: 1;
      }
      .co-2-2 {
        width: 110px;
        height: 93px;
        position: absolute;
        left: 25px;
        top: 188px;
        object-fit: cover;
        aspect-ratio: 110/93;
      }
      .Txt1_main2 {
        color: #000000;
        text-align: left;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 32px;
        font-weight: 400;
        position: absolute;
        left: 149px;
        top: 34px;
        width: 431px;
        height: 129px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .Txt2_main2 {
        color: #000000;
        text-align: left;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 32px;
        font-weight: 400;
        position: absolute;
        left: 170px;
        top: 171px;
        width: 439px;
        height: 116px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .reduire-2 {
        width: 178.42px;
        height: 168px;
        position: absolute;
        left: 219px;
        top: 386px;
        object-fit: cover;
        aspect-ratio: 178.42/168;
      }
      .T1M2 {
        color: #000000;
        text-align: center;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 29px;
        top: 354px;
        width: 183px;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .T4M2 {
        color: #000000;
        text-align: center;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 26px;
        top: 501px;
        width: 183px;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .T2M2 {
        color: #000000;
        text-align: center;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 426px;
        top: 321px;
        width: 183px;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .T3M2 {
        color: #000000;
        text-align: center;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 433px;
        top: 501px;
        width: 183px;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
    .main3 { grid-area: 3 / 3 / 4 / 4;
        background: #c8d6a2;
        border-style: solid;
        border-color: #085820;
        border-width: 1px;
        width: 640px;
        height: 598px;
        position: absolute;
        left: 1292px;
        top: 393px;
    }
    .ampoule-3 {
        width: 110px;
        height: 110px;
        position: absolute;
        left: 8px;
        top: 19px;
        object-fit: cover;
        aspect-ratio: 1;
      }
      .co-2-3 {
        width: 110px;
        height: 93px;
        position: absolute;
        left: 25px;
        top: 188px;
        object-fit: cover;
        aspect-ratio: 110/93;
      }
      .Txt1_main3 {
        color: #000000;
        text-align: left;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 32px;
        font-weight: 400;
        position: absolute;
        left: 148px;
        top: 34px;
        width: 395px;
        height: 116px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .Txt2_main3 {
        color: #000000;
        text-align: left;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 32px;
        font-weight: 400;
        position: absolute;
        left: 178px;
        top: 185px;
        width: 407px;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .reduire-3 {
        width: 178px;
        height: 168px;
        position: absolute;
        left: 204px;
        top: 386px;
        object-fit: cover;
        aspect-ratio: 178/168;
      }
      .T1M3 {
        color: #000000;
        text-align: center;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 24px;
        top: 331px;
        width: 176px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .T2M3 {
        color: #000000;
        text-align: center;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 421px;
        top: 330px;
        width: 176px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .T4M3 {
        color: #000000;
        text-align: center;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 21px;
        top: 491px;
        width: 176px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .T3M3 {
        color: #000000;
        text-align: center;
        font-family: "ComicSansMs-Regular", sans-serif;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 421px;
        top: 486px;
        width: 176px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
    .footer { grid-area: 4 / 1 / 5 / 4; 
        background-color: #085820;
        width: 1920px;
        height: 89px;
        position: absolute;
        left: 0px;
        top: 991px;
    }
    .Txt_Footer {
        color: #ffffff;
        text-align: left;
        font-family: "Arial-Regular", sans-serif;
        font-size: 32px;
        font-weight: 400;
        position: absolute;
        left: 50%;
        translate: -50%;
        top: 18px;
        width: 1196px;
        height: 53px;
      }
      .logo-ademe-1 {
        width: 78px;
        height: 84px;
        position: absolute;
        left: 248px;
        top: 3px;
        object-fit: cover;
        aspect-ratio: 78/84;
      }
      .logo-ademe-2 {
        width: 78px;
        height: 84px;
        position: absolute;
        left: 1561px;
        top: 3px;
        object-fit: cover;
        aspect-ratio: 78/84;
      }